div.table {
  div.cell {
    min-width: 100px;
    padding: 0.75rem;
    background-color: white;
  }

  .hidden {
    display: none !important;
  }

  .indeterminate {
    opacity: 0.5;
  }

  .column-0 {
    width: 200px;
  }

  .column-1 {
    width: 300px;
  }

  .column-2 {
    width: 300px;
  }

  div.table-header {
    font-weight: bold;
    border-top: 1px solid;
    border-top-color: #d8dbe0;
    border-bottom: 2px solid;
    border-bottom-color: #d8dbe0;
  }

  div.table-row {
    margin: 0;
    display: flex;
    justify-content: flex-start;
  }

  div.body-container {
    div.table-row {
      div.body.cell {
        padding: 0.75rem;
        border-bottom: 1px solid #d8dbe0;
        border-left: 1px solid #d8dbe0;
        &.column-0 {
          border-left: 0px solid #d8dbe0;
        }
      }
    }
  }
}
