.header {
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid gray;
  .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__item {
      margin: 0 8px;
    }
  }
}
