.sidebar {
  position: fixed;
  width: 256px;
  height: 100%;
  color: white;
  background-color: #3c4b64;
  &__dropdown--active {
    background-color: rgba(0, 0, 0, 0.2);
  }
  &__dropdown {
    cursor: pointer;
  }
  &__name,
  &__link {
    display: flex;
    align-items: center;
    height: 48px;
    font-size: 14px;
    padding: 0 1rem;
  }
  &__name:hover,
  &__item:hover {
    background-color: #321fdb;
  }
  &__name {
    justify-content: space-between;
  }
  &__link {
    padding-left: calc(1rem + 16px);
  }
  &__item--hide {
    display: none;
  }
  &__link--active {
    background-color: rgba(255, 255, 255, 0.05);
  }
}
